:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

body {
  margin: 0;
}

.keys {
  display: flex;
  gap: 24px;
}

.key {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border: 3px solid #fff;
  padding: 24px;
}

.key[play] {
  border: 3px solid gold;
}

/* #app {
  border: 2px solid red;
} */
